.Header_part{
    nav{
        padding: 16px 0;
        .brand_logo{
            margin-right: 68px;
        }
        .link_item{
            font-size: 16px;
            color: #142D33;
            text-decoration: none;
            margin-right: 38px;
        }
        .action_button{
            height: 48px;
            min-width: 107px;
            font-size: 16px;
            font-weight: 700;
            border-radius: 68px;
            margin-left: 12px;
            &.custom_outlined{
                border: 1px solid rgba(80, 121, 226, 0.5);
                &:hover{
                    background-color: #5079E2;
                    color: #fff;
                }
            }
        }
        .language_btn{
            min-width: 72px;
            height: 40px;
            font-size: 12px;
            font-weight: 500;
            border-radius: 49px;
            margin-right: 12px;
            font-weight: normal;
            border: 1px solid rgba(80, 121, 226, 0.5);
            &:hover{
                background-color: #5079E2;
                color: #fff;
            }
        }
        .navbar-toggler{
            border: none;
            box-shadow: none;
        }
    }

    @media all and (max-width:991px) {
        .navbar-collapse{
            margin-top: 20px;
            padding-top: 20px;
            border-top: 1px solid #e6e2e2;
            &.collapse.show{
                margin-top: 20px;
                padding-top: 20px;
                border-top: 1px solid #eceaea;
                box-shadow: #f5f0f0 0px 10px 16px -5px;
                padding-bottom: 20px;
            }
        }
        .link_item{
            margin-bottom: 20px;
        }
        .action_btn_wrap{
            flex-direction: row;
            justify-content: center;
            margin-top: 20px;
        }
        nav .action_button{
            min-width: 80px;
            font-size: 13px;
            margin-left: 8px;
        }
    }
}